/*Navbar*/
$navbar: #212529;

/*Buttons*/
$red: #dc3545;
$hoverRed: #c82333;
$activeRed: #bd2130;
$borderRed: #bd2130;

$green: #4caf50;
$hoverGreen: #4c9f50;
$activeGreen: #487f50;
$borderGreen: #487f50;

$blue: #17a2b8;
$hoverBlue: #138496;
$activeBlue: #117a8b;
$borderBlue: #117a8b;

/*Alerts*/
$createAlert: #d4edda;
$deleteAlert: #f8d7da;
$editAlert: #bee5eb;

/*Table*/
$tableHeader: #212529;
