@use 'colors';

.main {
	padding: 2rem;
	display: flex;
	width: 100%;
	justify-content: space-around;

	.main-form {
		width: 20%;

		.form-control {
			display: flex;
			flex-direction: column;
			margin: 1rem 0;

			.taskDescription {
				padding: 0.2rem 0;
				font-size: 1.4rem;
				font-weight: 900;
			}

			.taskInput {
				padding: 0.5rem 1rem;
				border-radius: 5%;
				box-shadow: none;
				border: none;
			}

			.taskInput::placeholder {
				font-size: 1rem;
			}
		}

		.button {
			padding: 0.7rem 1.5rem;
			width: 100%;
			background-color: colors.$green;
			border: none;
			border-radius: 5px;
			font-size: 1rem;
			color: white;
		}
		.button:hover {
			background-color: colors.$hoverGreen;
			cursor: pointer;
		}
		.button:active {
			background-color: colors.$activeGreen;
		}
		.button:focus {
			background-color: colors.$activeGreen;
			border: solid 1px #0d0;
		}
	}

	.main-table {
		width: 60%;
		border-collapse: collapse;
		border-spacing: 0;
		.row {
			.cell {
				padding: 1rem;
				border-top: 1px #bbb solid;
				border-bottom: 1px #bbb solid;
				text-align: center;
			}
			.actions {
				display: flex;
				justify-content: center;
				.icon {
					margin: 0 0.5rem;
				}
				.edit {
					color: white;
					background-color: colors.$blue;
					padding: 0.75rem;
					border-radius: 5px;
				}
				.edit:hover {
					cursor: pointer;
					background-color: colors.$hoverBlue;
				}
				.edit:active {
					background-color: colors.$activeBlue;
				}
				.delete {
					color: white;
					background-color: colors.$red;
					padding: 0.75rem;
					border-radius: 5px;
				}
				.delete:hover {
					cursor: pointer;
					background-color: colors.$hoverRed;
				}
				.delete:active {
					background-color: colors.$activeRed;
				}
			}
		}
		.header-row {
			background-color: colors.$tableHeader;
			color: white;
		}
	}
}
